In [1]:
#elijo alternativa A, consigo mapa y tabla de variables sobre las provincias de Peru
#importamos la tabla de data
import pandas as pd
import os

dataidh=pd.read_excel(os.path.join('data','IDH-y-Componentes-2003-2017.xlsx'),
                     dtype={'Ubigeo': object})
dataidh.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51
0,Índice de Desarrollo Humano (IDH) y variables ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,4.0,5.0,6.0,NaN,NaN
2,UBIGEO,DEPARTAMENTO,NaN,NaN,NaN,Población,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Ingreso familiar per cápita,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,Habitantes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,N.S. mes,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Departamento,Provincia,NaN,NaN,2003,2007.0,2010.0,2011.0,2012.0,...,2015.0,2017.0,NaN,2003,2007.0,2010.0,2011.0,2012.0,2015.0,2017.0

In [2]:
#ahora importo mapa (geodataframe)
os.environ['USE_PYGEOS'] = '0'

import geopandas as gpd

dataidhmap=gpd.read_file(os.path.join('maps','PROVINCIAS_inei_geogpsperu_suyopomalia.zip'))

dataidhmap.head()

,OBJECTID,NOMBDEP,IDPROV,CCPP,CCDD,NOMBPROV,FUENTE,POB_PROYEC,POBTOTAL,POB_EDAD_T,...,IND_121951,IND_122042,IND_122047,IND_516462,IND_516484,Shape_Leng,Shape_Area,Shape_Le_1,Shape_Ar_1,geometry
0,1.0,AMAZONAS,0101,01,01,CHACHAPOYAS,INEI - CPV2017,63188.0,60419.0,45859.0,...,317.0,38412.72138,57822.17436,994587.0,3403.0,4.623216,1.700899,3.861441,0.237710,"POLYGON ((-77.72614 -5.94354, -77.72486 -5.943..."
1,2.0,AMAZONAS,0102,02,01,BAGUA,INEI - CPV2017,84672.0,82193.0,56236.0,...,380.0,42202.67899,43717.28502,608750.0,6191.0,0.000000,0.000000,4.294735,0.472360,"POLYGON ((-78.61909 -4.51001, -78.61802 -4.510..."
2,3.0,AMAZONAS,0103,03,01,BONGARA,INEI - CPV2017,26830.0,27085.0,19924.0,...,178.0,26498.53565,22772.68373,425247.1,2304.0,0.000000,0.000000,3.038709,0.231318,"POLYGON ((-77.72759 -5.14030, -77.72361 -5.140..."
3,4.0,AMAZONAS,0104,04,01,CONDORCANQUI,INEI - CPV2017,51344.0,49800.0,27490.0,...,313.0,35232.84747,50694.06389,693920.0,7041.0,0.000000,0.000000,7.617350,1.455241,"POLYGON ((-77.81211 -2.98962, -77.81332 -2.990..."
4,5.0,AMAZONAS,0105,05,01,LUYA,INEI - CPV2017,47827.0,48140.0,34016.0,...,217.0,58723.65869,77973.52845,269838.0,4349.0,0.000000,0.000000,2.866386,0.270252,"POLYGON ((-78.13023 -5.90370, -78.13011 -5.904..."

In [3]:
#Notamos que podemos limpiar y preprocesar, en especial la data del idh
dataidh

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51
0,Índice de Desarrollo Humano (IDH) y variables ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.000000,4.000000,5.000000,6.000000,NaN,NaN
2,UBIGEO,DEPARTAMENTO,NaN,NaN,NaN,Población,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Ingreso familiar per cápita,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,Habitantes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,N.S. mes,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Departamento,Provincia,NaN,NaN,2003,2007.0,2010.0,2011.0,2012.0,...,2015.000000,2017.000000,NaN,2003,2007.000000,2010.000000,2011.000000,2012.000000,2015.000000,2017.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,250300,UCAYALI,Padre Abad,NaN,NaN,63892,50590.0,54955.0,55866.0,56756.0,...,6.678834,6.056904,NaN,185.283943,256.797735,386.668474,432.328366,406.664846,525.043524,589.186460
205,250400,UCAYALI,Purús,NaN,NaN,4069,3746.0,4094.0,4174.0,4251.0,...,7.290636,7.271105,NaN,172.033995,218.973278,329.609050,369.763393,342.941627,451.019695,517.759563
206,Fuente: INEI. Censo de Población y Vivienda 20...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207,Elaboración: PNUD / Unidad del Informe sobre D...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208,1/ Provincias de Lima y Callao.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
dataidh = dataidh.drop([0, 1, 208, 207, 206], axis=0).reset_index(drop=True)
dataidh

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51
0,UBIGEO,DEPARTAMENTO,NaN,NaN,NaN,Población,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Ingreso familiar per cápita,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,Habitantes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,N.S. mes,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Departamento,Provincia,NaN,NaN,2003,2007.0,2010.0,2011.0,2012.0,...,2015.000000,2017.000000,NaN,2003,2007.000000,2010.000000,2011.000000,2012.000000,2015.000000,2017.000000
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,240300,TUMBES,Zarumilla,NaN,NaN,38599,41054.0,46922.0,48207.0,49499.0,...,8.266026,7.728943,NaN,321.633196,364.678223,490.937446,526.929183,552.644635,675.817987,788.934901
200,250100,UCAYALI,Coronel Portillo,NaN,NaN,342474,333890.0,357439.0,361828.0,366040.0,...,8.972556,8.617921,NaN,236.357634,338.130324,504.656308,611.378016,600.548895,708.871228,754.949200
201,250200,UCAYALI,Atalaya,NaN,NaN,50122,43933.0,48387.0,49483.0,50569.0,...,6.100144,5.852368,NaN,170.162069,198.681646,294.219747,328.864178,300.154436,425.424365,519.308654
202,250300,UCAYALI,Padre Abad,NaN,NaN,63892,50590.0,54955.0,55866.0,56756.0,...,6.678834,6.056904,NaN,185.283943,256.797735,386.668474,432.328366,406.664846,525.043524,589.186460
203,250400,UCAYALI,Purús,NaN,NaN,4069,3746.0,4094.0,4174.0,4251.0,...,7.290636,7.271105,NaN,172.033995,218.973278,329.609050,369.763393,342.941627,451.019695,517.759563

In [5]:
#nos quedamos solo con los datos del año 2003 y quitamos columnas de datos nulos
dataidh=dataidh.iloc[:, [0, 1, 2,5, 13,21, 29, 37, 45]]
dataidh

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 5,Unnamed: 13,Unnamed: 21,Unnamed: 29,Unnamed: 37,Unnamed: 45
0,UBIGEO,DEPARTAMENTO,NaN,Población,Índice de Desarrollo Humano,Esperanza de vida al nacer,Poblac 18 años con educación secundaria completa,Años de educación (Poblac 25 y más),Ingreso familiar per cápita
1,NaN,NaN,NaN,Habitantes,IDH,Años,(%),Años,N.S. mes
2,NaN,Departamento,Provincia,2003,2003,2003,2003,2003,2003
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
199,240300,TUMBES,Zarumilla,38599,0.351881,70.592737,54.215793,8.055216,321.633196
200,250100,UCAYALI,Coronel Portillo,342474,0.30194,68.652941,54.389345,8.906064,236.357634
201,250200,UCAYALI,Atalaya,50122,0.207424,65.260208,19.591315,5.750243,170.162069
202,250300,UCAYALI,Padre Abad,63892,0.2498,68.874997,38.155892,6.634248,185.283943
203,250400,UCAYALI,Purús,4069,0.210738,66.924762,16.944844,6.664614,172.033995

In [6]:
#Cambiamos nombres de las columnas
dataidh=dataidh.rename(columns={'Unnamed: 0': 'Ubigeo', 'Unnamed: 1': 'Departamento', 'Unnamed: 2': 'Provincia', 'Unnamed: 5': 'Habitantes', 'Unnamed: 13': 'IDH', 'Unnamed: 21': 'EspDeVida', 'Unnamed: 29': 'Pct_EduSecCompleta', 'Unnamed: 37': 'AnhosEdu', 'Unnamed: 45': 'IngresoPerCap'})
dataidh

,Ubigeo,Departamento,Provincia,Habitantes,IDH,EspDeVida,Pct_EduSecCompleta,AnhosEdu,IngresoPerCap
0,UBIGEO,DEPARTAMENTO,NaN,Población,Índice de Desarrollo Humano,Esperanza de vida al nacer,Poblac 18 años con educación secundaria completa,Años de educación (Poblac 25 y más),Ingreso familiar per cápita
1,NaN,NaN,NaN,Habitantes,IDH,Años,(%),Años,N.S. mes
2,NaN,Departamento,Provincia,2003,2003,2003,2003,2003,2003
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
199,240300,TUMBES,Zarumilla,38599,0.351881,70.592737,54.215793,8.055216,321.633196
200,250100,UCAYALI,Coronel Portillo,342474,0.30194,68.652941,54.389345,8.906064,236.357634
201,250200,UCAYALI,Atalaya,50122,0.207424,65.260208,19.591315,5.750243,170.162069
202,250300,UCAYALI,Padre Abad,63892,0.2498,68.874997,38.155892,6.634248,185.283943
203,250400,UCAYALI,Purús,4069,0.210738,66.924762,16.944844,6.664614,172.033995

In [7]:
#Borramos las primeras filas
dataidh = dataidh.drop([0, 1, 2, 3, 4], axis=0).reset_index(drop=True)
dataidh

,Ubigeo,Departamento,Provincia,Habitantes,IDH,EspDeVida,Pct_EduSecCompleta,AnhosEdu,IngresoPerCap
0,000000,PERÚ,NaN,27148101,0.365703,68.537515,60.807154,8.299893,367.502214
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,010100,AMAZONAS,Chachapoyas,54513,0.296621,69.644399,35.450465,6.923432,243.785469
3,010200,AMAZONAS,Bagua,98721,0.263486,70.065692,36.940094,6.232209,201.143402
4,010300,AMAZONAS,Bongará,26665,0.251977,69.410007,24.126128,6.167256,215.321204
...,...,...,...,...,...,...,...,...,...
194,240300,TUMBES,Zarumilla,38599,0.351881,70.592737,54.215793,8.055216,321.633196
195,250100,UCAYALI,Coronel Portillo,342474,0.30194,68.652941,54.389345,8.906064,236.357634
196,250200,UCAYALI,Atalaya,50122,0.207424,65.260208,19.591315,5.750243,170.162069
197,250300,UCAYALI,Padre Abad,63892,0.2498,68.874997,38.155892,6.634248,185.283943
198,250400,UCAYALI,Purús,4069,0.210738,66.924762,16.944844,6.664614,172.033995

In [8]:
dataidh = dataidh.drop([0, 1], axis=0).reset_index(drop=True)
dataidh

,Ubigeo,Departamento,Provincia,Habitantes,IDH,EspDeVida,Pct_EduSecCompleta,AnhosEdu,IngresoPerCap
0,010100,AMAZONAS,Chachapoyas,54513,0.296621,69.644399,35.450465,6.923432,243.785469
1,010200,AMAZONAS,Bagua,98721,0.263486,70.065692,36.940094,6.232209,201.143402
2,010300,AMAZONAS,Bongará,26665,0.251977,69.410007,24.126128,6.167256,215.321204
3,010400,AMAZONAS,Condorcanqui,42540,0.175234,67.076901,7.576438,5.169312,172.585717
4,010500,AMAZONAS,Luya,54172,0.239783,67.06161,27.023948,5.101016,209.489673
...,...,...,...,...,...,...,...,...,...
192,240300,TUMBES,Zarumilla,38599,0.351881,70.592737,54.215793,8.055216,321.633196
193,250100,UCAYALI,Coronel Portillo,342474,0.30194,68.652941,54.389345,8.906064,236.357634
194,250200,UCAYALI,Atalaya,50122,0.207424,65.260208,19.591315,5.750243,170.162069
195,250300,UCAYALI,Padre Abad,63892,0.2498,68.874997,38.155892,6.634248,185.283943
196,250400,UCAYALI,Purús,4069,0.210738,66.924762,16.944844,6.664614,172.033995

In [9]:
#del geodataframe forrmaos algunas columnas
dataidhmap=dataidhmap.iloc[:, [0, 1,5,79]]
#cambio nombre de columnas
dataidhmap=dataidhmap.rename(columns={'NOMBDEP': 'DEPARTAMENTO', 'NOMBPROV': 'PROVINCIA'})
dataidhmap

,OBJECTID,DEPARTAMENTO,PROVINCIA,geometry
0,1.0,AMAZONAS,CHACHAPOYAS,"POLYGON ((-77.72614 -5.94354, -77.72486 -5.943..."
1,2.0,AMAZONAS,BAGUA,"POLYGON ((-78.61909 -4.51001, -78.61802 -4.510..."
2,3.0,AMAZONAS,BONGARA,"POLYGON ((-77.72759 -5.14030, -77.72361 -5.140..."
3,4.0,AMAZONAS,CONDORCANQUI,"POLYGON ((-77.81211 -2.98962, -77.81332 -2.990..."
4,5.0,AMAZONAS,LUYA,"POLYGON ((-78.13023 -5.90370, -78.13011 -5.904..."
...,...,...,...,...
191,192.0,TUMBES,ZARUMILLA,"POLYGON ((-80.28521 -3.41276, -80.28406 -3.412..."
192,193.0,UCAYALI,CORONEL PORTILLO,"POLYGON ((-74.47145 -7.27617, -74.47052 -7.277..."
193,194.0,UCAYALI,ATALAYA,"POLYGON ((-73.18146 -9.41174, -73.13475 -9.411..."
194,195.0,UCAYALI,PADRE ABAD,"POLYGON ((-75.43663 -8.22999, -75.43651 -8.230..."
195,196.0,UCAYALI,PURUS,"POLYGON ((-70.61380 -9.87339, -70.62140 -9.878..."

In [10]:
#Ahora comenzamos con el preprocesamiento
capitalizeColumns=lambda x: x.str.upper().str.strip()
dataidh[['Provincia','Departamento']]=dataidh[['Provincia','Departamento']].apply(capitalizeColumns)
dataidhmap[['PROVINCIA','DEPARTAMENTO']]=dataidhmap[['PROVINCIA','DEPARTAMENTO']].apply(capitalizeColumns)

In [11]:
dataidh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Ubigeo              196 non-null    object
 1   Departamento        196 non-null    object
 2   Provincia           197 non-null    object
 3   Habitantes          197 non-null    object
 4   IDH                 197 non-null    object
 5   EspDeVida           197 non-null    object
 6   Pct_EduSecCompleta  197 non-null    object
 7   AnhosEdu            197 non-null    object
 8   IngresoPerCap       197 non-null    object
dtypes: object(9)
memory usage: 14.0+ KB

In [12]:
dataidhmap.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OBJECTID      196 non-null    float64
 1   DEPARTAMENTO  196 non-null    object
 2   PROVINCIA     196 non-null    object
 3   geometry      196 non-null    geometry
dtypes: float64(1), geometry(1), object(2)
memory usage: 6.2+ KB

In [14]:
#Convierto numeros numericos de dataidh a float
dataidh['Habitantes'] = dataidh['Habitantes'].astype(float)
dataidh['IDH'] = dataidh['IDH'].astype(float)
dataidh['Pct_EduSecCompleta'] = dataidh['Pct_EduSecCompleta'].astype(float)
dataidh['EspDeVida'] = dataidh['EspDeVida'].astype(float)
dataidh['AnhosEdu'] = dataidh['AnhosEdu'].astype(float)
dataidh['IngresoPerCap'] = dataidh['IngresoPerCap'].astype(float)

In [15]:
len(dataidh.Provincia),len(dataidhmap.PROVINCIA)

(197, 196)

In [16]:
#notamos que hay uno extra por lima
dataidh = dataidh.drop(dataidh.loc[dataidh['Provincia'] == 'LIMA'].index)

In [17]:
len(dataidh.Provincia),len(dataidhmap.PROVINCIA)

(196, 196)

In [18]:
dataidh = dataidh.reset_index(drop=True)

In [19]:
dataidh.Provincia.duplicated().sum(),dataidhmap.PROVINCIA.duplicated().sum()

(0, 0)

In [20]:
dataidh['Provincia'] = dataidh['Provincia'].astype(str)
dataidh['Departamento'] = dataidh['Departamento'].astype(str)
dataidhmap['PROVINCIA'] = dataidhmap['PROVINCIA'].astype(str)
dataidhmap['DEPARTAMENTO'] = dataidhmap['DEPARTAMENTO'].astype(str)
import unidecode

byePunctuation=lambda x: unidecode.unidecode(x)
dataidh[['Provincia','Departamento']]=dataidh[['Provincia','Departamento']].applymap(byePunctuation)
dataidhmap[['PROVINCIA','DEPARTAMENTO']]=dataidhmap[['PROVINCIA','DEPARTAMENTO']].applymap(byePunctuation)

In [21]:
#EJERCICIO 1

In [22]:
nomatch_df=set(dataidh.Provincia)- set(dataidhmap.PROVINCIA)
nomatch_gdf=set(dataidhmap.PROVINCIA)-set(dataidh.Provincia)

In [23]:
len(nomatch_df), len(nomatch_gdf)

(5, 5)

In [24]:
# pick the closest match from nomatch_gdf for a value in nomatch_df
from thefuzz import process
[(dis,process.extractOne(dis,nomatch_gdf)) for dis in sorted(nomatch_df)]

[('DANIEL A. CARRION', ('DANIEL ALCIDES CARRION', 88)),
 ('LIMA METROPOLITANA', ('LIMA', 90)),
 ('NAZCA', ('NASCA', 80)),
 ('PROVINCIA CONSTITUCIONAL DEL CALLAO', ('CALLAO', 90)),
 ('SATIPO 2/', ('SATIPO', 95))]

In [25]:
# is this OK?
{dis:process.extractOne(dis,nomatch_gdf)[0] for dis in sorted(nomatch_df)}

{'DANIEL A. CARRION': 'DANIEL ALCIDES CARRION',
 'LIMA METROPOLITANA': 'LIMA',
 'NAZCA': 'NASCA',
 'PROVINCIA CONSTITUCIONAL DEL CALLAO': 'CALLAO',
 'SATIPO 2/': 'SATIPO'}

In [26]:
changes_df={dis:process.extractOne(dis,nomatch_gdf)[0] for dis in sorted(nomatch_df)}

In [27]:
dataidh.Provincia.replace(changes_df,inplace=True)

In [28]:
#ahora sí realizamos el merge
dataidh=dataidh.rename(columns={'Provincia': 'PROVINCIA'})
dataidhmap=dataidhmap.merge(dataidh, on='PROVINCIA')

In [29]:
dataidhmap.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 196 entries, 0 to 195
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   OBJECTID            196 non-null    float64
 1   DEPARTAMENTO        196 non-null    object
 2   PROVINCIA           196 non-null    object
 3   geometry            196 non-null    geometry
 4   Ubigeo              195 non-null    object
 5   Departamento        196 non-null    object
 6   Habitantes          196 non-null    float64
 7   IDH                 196 non-null    float64
 8   EspDeVida           196 non-null    float64
 9   Pct_EduSecCompleta  196 non-null    float64
 10  AnhosEdu            196 non-null    float64
 11  IngresoPerCap       196 non-null    float64
dtypes: float64(7), geometry(1), object(4)
memory usage: 19.9+ KB

In [30]:
bye=['Departamento', 'OBJECTID']
dataidhmap.drop(columns=bye,inplace=True)
nuevo_orden_columnas = ['Ubigeo', 'DEPARTAMENTO', 'PROVINCIA', 'Habitantes', 'IDH', 'EspDeVida', 'Pct_EduSecCompleta', 'AnhosEdu', 'IngresoPerCap', 'geometry']
dataidhmap = dataidhmap[nuevo_orden_columnas]

# keeping
dataidhmap.head()

,Ubigeo,DEPARTAMENTO,PROVINCIA,Habitantes,IDH,EspDeVida,Pct_EduSecCompleta,AnhosEdu,IngresoPerCap,geometry
0,010100,AMAZONAS,CHACHAPOYAS,54513.0,0.296621,69.644399,35.450465,6.923432,243.785469,"POLYGON ((-77.72614 -5.94354, -77.72486 -5.943..."
1,010200,AMAZONAS,BAGUA,98721.0,0.263486,70.065692,36.940094,6.232209,201.143402,"POLYGON ((-78.61909 -4.51001, -78.61802 -4.510..."
2,010300,AMAZONAS,BONGARA,26665.0,0.251977,69.410007,24.126128,6.167256,215.321204,"POLYGON ((-77.72759 -5.14030, -77.72361 -5.140..."
3,010400,AMAZONAS,CONDORCANQUI,42540.0,0.175234,67.076901,7.576438,5.169312,172.585717,"POLYGON ((-77.81211 -2.98962, -77.81332 -2.990..."
4,010500,AMAZONAS,LUYA,54172.0,0.239783,67.061610,27.023948,5.101016,209.489673,"POLYGON ((-78.13023 -5.90370, -78.13011 -5.904..."

In [31]:
#guardamos el geodataframe
dataidhmap.to_file(os.path.join('maps',"dataMapPeru.gpkg"), layer='provincias', driver="GPKG")